@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  color: rgb(70, 70, 70);
}

html, body {
  margin: 0;
  padding: 0;
}

.nav ul {
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-header {
  background-color: rgba(245, 134, 6, 0.281);
  background-image: url(./Images/Header.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  padding-bottom: 30px;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 4em;
  font-family: Pacifico, fantasy;
  font-weight: normal;
  color: white;
}

.band-name-large {
  font-size: 6em;
  opacity: 0.8;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header {
  font-weight: normal;
  color: #333;
  text-align: center;
  font-size: 2em;
}

.about-band-image {
  float: left;
  width: 300px;
  margin: 15px;
  border-radius: 50%;
}

.main-footer {
  background-color: #FC9D89;
  color: white;
  padding: 0.25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
  list-style-type: none;
}

.footer-nav li {
  padding: 0.5em;
  display: inline;
}

.footer-nav img {
  width: 35px;
  border-radius: 50%;
}

.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em;
  cursor: pointer;
}

/* Styling original de .btn-header */

/* .btn-header {
  margin: 0.5em 15% 2em 15%;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: 500;
  padding-left: 1.5em;
  padding-right: 1.5em;
} */

.btn-header {
  display: block;
  margin: 0.5em auto 2em auto;
  color: white;
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: 500;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.btn-header:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Valor original para .btn-play de display. No es necesario ahora que ese valor tambien lo tiene .btn-header */

.btn-play {
  /* display: block; */
  margin: 0 auto;
  font-size: 2.4em;
  border-radius: 50%;
  padding: 0 0 0 5px;
  width: 80px;
  height: 80px;
}

.tour-row {
  border-bottom: 1px solid rgb(141, 141, 141);
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.tour-row:last-child {
  border-bottom: none;
}

.tour-item {
  display: inline-block;
  padding-right: 0.5em;
}

.tour-date {
  font-weight: bold;
  width: 12%;
}

.tour-city {
  width: 33%;
}

.tour-arena {
  width: 33%;
}

.tour-btn {
  max-width: 18%;
}

.btn-primary {
  color: white;
  background-color: #FC9D89;
  border: none;
  border-radius: 0.3em;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #e98470;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.shop-item {
  margin: 30px;
  width: min-content;
}

.shop-item-title {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 1.1em;
  color: #333;
  margin-bottom: 15px;
}

.shop-item-image {
  height: 250px;
}

.shop-item-details {
  display: flex;
  align-items: center;
  padding: 5px;
}

.shop-item-price {
  flex-grow: 1;
  color: #333;
  font-weight: 500;
}

.cart-header {
  font-weight: 500;
  font-size: 1.1em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(141, 141, 141);
  margin-right: 1.5em;
  margin-top: 10px;
  padding-bottom: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.1em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: 0.5em;
  font-size: 1.1em;
}

.cart-item-image {
  width: 75px;
  border-radius: 5px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid rgb(141, 141, 141);
  background-color: #f0f0f0;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.1em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid rgb(141, 141, 141);
}

.cart-row:last-child .cart-column {
  border: none;
}

/* Valor original del margen derecho */

.cart-total {
  text-align: end;
  margin-top: 10px;
  /* margin-right: 10px; */
  margin-right: 25px;
}

.cart-total-title {
  font-weight: 500;
  font-size: 1.1em;
  color: #333;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.4em;
}